
header {
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__content {
  height: 65px;
  display: flex;
  justify-content: space-between;
  width: 1300px;
  padding: 0 5% 0 5%;
}

.header__logo img {
  width: 80%;
}

.header__info {
  display: flex;
  align-items: center;

}

.header__info-company a {
  color: #fb9a1d;
}

.header__info-company p {
  margin: 0;
  color: #fb9a1d;
}

.header__phone {
  display: flex;
  flex-direction: column;
}

.header__phone a {
  color: #333;
}

.header__login a {
  font-size: 30px;
}

.main__container {
  z-index: 11;
  width: 500px;
  padding: 5%;
}

.main {
  display: flex;
  justify-content: center;
  

}

.form__button {
  text-align: center;
}

.main {
  /* background-image: url(./images/bg.jpg); */

  background-size: contain;
  background-position: center;
  height: 100vh;
}

.main {
  position: absolute;
  top: 110px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background-color: rgb(0, 0, 0);
}

/* @media screen and (max-width: 1030px) {
  .header__phone {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .header__login {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  .header__info {
    display: none;
  }
} */